name: Dependency Graph

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:

  dependency_graph:

    name: Update
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'zulu'
          cache: maven
      - name: Update dependency graph
        uses: advanced-security/maven-dependency-submission-action@v5
